SELENIUM_URL=http://localhost:4444/wd/hub
POLL_SECONDS=3
BROWSER_TIMEOUT=5
APP_PORT=8000
APP_HOST=0.0.0.0
SELENIUM_BROWSER_LINK=https://ru.tradingview.com/chart/?symbol=BITHUMB%3AUSDTKRW
POSTGRES_CONNECTION_PORT=5432

# PostgreSQL
POSTGRES_USER=bot_user
POSTGRES_PASSWORD=bot_password
POSTGRES_HOST=localhost
POSTGRES_INNER_PORT=5432
POSTGRES_OUTER_PORT=6000
POSTGRES_DB=bot_db
POSTGRES_VERSION=18
DATABASE_SCHEMA=public