# DOLBABOT ENV

TELEGRAM_TOKEN=

# CURRENCYLAYER API
CURRENCYLAYER_KEY=
CURRENCYLAYER_URL=https://api.currencylayer.com

# TRAIDINGVIEW APP LINK
TRAIDINGVIEW_FASTAPI_APP_LINK=https://tradingview-generate.xottab-ops.ru/last-course

# GRINEX API
GRINEX_URL=https://grinex.io/api/v1/spot/depth?symbol=usdta7a5

# EXCEL PATH FOR INDEXES
EXCEL_PATH=./path

# TRAIDINGVIEW APP ENV
SELENIUM_URL=http://host:port/wd/hub
POLL_SECONDS=3
BROWSER_TIMEOUT=5
APP_PORT=8000
APP_HOST=0.0.0.0
SELENIUM_BROWSER_LINK=https://ru.tradingview.com/chart/?symbol=BITHUMB%3AUSDTKRW
POSTGRES_CONNECTION_PORT=5432

# PostgreSQL
POSTGRES_USER=bot_user
POSTGRES_PASSWORD=bot_password
POSTGRES_HOST=postgresql
POSTGRES_INNER_PORT=5432
POSTGRES_OUTER_PORT=6000
POSTGRES_DB=bot_db
POSTGRES_VERSION=18
DATABASE_SCHEMA=public
